.home-page {
  min-height: 100vh;
}

.home-page .left-section {
  background-color: #ffd700;
  display: grid;
  justify-content: center;
  vertical-align: middle;
}

.home-page .left-section img {
  align-self: center;
  margin: 2rem 0.75rem;
}

.home-page .right-section {
  background-color: #6681b4;
  display: grid;
  justify-content: center;
  vertical-align: middle;
}

.home-page .right-section .form-section {
  margin: 2rem 0.75rem;
  align-self: center;
}

.home-page h1 {
  color: #191970;
}

.home-page h3 {
  color: #696969;
}
