.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

#signup {
  display: flex;
  flex-direction: column;
}

.error-text {
  color: red;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: left;
}